<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class='global-nav'>
    <a href='/users'>
      <img src='https://i.imgur.com/uw4RPfW.png' alt='Home'> where // we collect
    </a>
  </div>

  <div class='body-container'>
    {{{body}}}
  </div>
</body>

</html>