<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class='wrapper'>wrapper
    <div class='header'>header
      <a href='/users'>
          <img src='https://i.imgur.com/uw4RPfW.png' alt='Gig Posters Home'>
        </a>
      <div class='main'>main section
        <div class='body-container'>
          {{{body}}}
        </div>

      </div>

      <aside class='aside aside-1'>aside 1
  
      </aside>

      <aside class='aside aside-2'>aside 2

      </aside>

      <footer class='footer'>footer</footer>


    </div>
  </div>
</body>

</html>