<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{!--
  <div class="page-home page-other"> --}}
    <div class="header-right">
      <div></div>
      <div>
      <a class="btn-signup" href="/users/new">sign up</a>
      </div>
      <div></div>
    </div>
    <div class="header">
      <a href="/users">
        <img class="logo" src="https://i.imgur.com/uw4RPfW.png" alt="Gig Posters Home"> // we collect
      </a>
      </div>
      <h1></h1>
    </div>

    <div id="main">
      <nav>
        <div>
        </div>
      </nav>

      <aside>
        <div>
          <p>an app for people that collect band posters // + ... </p>
          <a href="/bands">bands we like</a>
        </div>
      </aside>
      <article>
        <div class="body-container">
          {{{body}}}
        </div>
      </article>

    </div>

    <footer>&copy; 2018 . created by diane riffel / atlanta</footer>
  </div>

  <script src="../javascripts/main.js"></script>
</body>

</html>