<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <a href='/users'>
      <img src='https://i.imgur.com/uw4RPfW.png' alt='Gig Posters Home'><span> // we collect</span>
    </a>
    <h1> header </h1>
  </header>

  <div id='main'>
    <nav>nav
      <div><a href="/users">home</a></div>
      <div><a href="/bands">bands</a></div>
    </nav>
    <aside>aside</aside>
    <article>
    <div class='body-container'>
      {{{body}}}
    </div>
    </article>

  </div>

  <footer>footer</footer>

</body>

</html>