html.page-home {
  /* background-color: aquamarine; */
  background-image: url("/images/bkrnd-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html.page-other {
  /* background-color: aquamarine; */
  background-image: url("/images/bkrnd-other-v2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 50px; */
  /* font: 14px; */
  font-family: 'Montserrat', sans-serif;
  /* height: 80%;
  width: 80%;
  border: 5px solid black; */
}

a {
  color: #00B7FF;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-bubbles-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px 0;
}

.user-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 5px;
  margin-bottom: 40px;
  /* background-color: #8E5133; */
  width: 175px;
  min-width: 150px;
  height: 250px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: all 0.25s ease;
}

.user-bubble img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: black;
}

/* ---------------------------------- */
/* .wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
} */

/* ----------- other responsive layout options ---------------- */
* {
  box-sizing: border-box;
}
body {
  margin: 1em;
  font: 1.2em/1.3em 'Montserrat', sans-serif;
  /* color: #fff; */
}
h1 {
  font-weight: normal;
  text-align: right;
}
p {
  margin: 0 0 1em 0;
}

#main {
 margin: 0;
 padding: 0;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: row;
 flex-flow: row;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {
 margin: 4px;
 padding: 1em;
}

#main > article {
 /* background: #996; */
 -webkit-flex: 4 1 0;
         flex: 4 1 0;
 -webkit-order: 2;
         order: 2;
}

#main > nav,
#main > aside {
 /* background: #663; */
 -webkit-flex: 1 6 0;
         flex: 1 6 0;
}
#main > nav {
 -webkit-order: 1;
         order: 1;
}

#main > aside {
 -webkit-order: 3;
         order: 3;
}

header, footer {
 display: block;
 min-height: 80px;
}

header {
 /* background: #633; */
}

footer {
background: #c66;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-flow: column;
}

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;

 }
}
