/* -- GLOBAL STYLE --- */
html {
  height: 100%;
}

.page-home {
  /* background-color: aquamarine; */
  background-image: url("/images/bkrnd-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

.page-other {
  background-image: url("/images/bkrnd-other-v3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* align-items: center;
  padding: 50px;
  font: 14px;
  height: 80%;
  width: 80%;
  border: 5px solid black; */
}

.content {
  flex: 1 0 auto;
  padding 20px;
}

a {
  color: #1f654e;
}

.header {
  display: flex;
  flex-direction: column
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  padding: 20px 20px 5px 20px;
}

h1 {
  font-family: 'Monteserrat', strong, sans-serif;
}

aside {
  align-items: center;
  /* background-color: rgba(142, 81, 51, .2); */
}


/* --- USERS/INDEX page style  */
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container-indiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-bubbles-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 0;
}

.user-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 5px;
  margin-bottom: 20px;
  width: 175px;
  min-width: 150px;
  height: 225px;
  font-weight: bold;
  /* color: #3d3636; */
  color: #8E5133;
  text-align: center;
  transition: all 0.25s ease;
}

.user-bubble img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: black;
}

.flex-end {
  justify-content: flex-end;
}

/* BAND INDEX PAGE */
.band-bubbles-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 0;
}

.band-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 5px;
  margin-bottom: 20px;
  width: 175px;
  min-width: 150px;
  height: 225px;
  font-weight: bold;
  /* color: #3d3636; */
  color: #8E5133;
  text-align: center;
  transition: all 0.25s ease;
}

.band-bubble img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: black;
}

/* Links / Buttons (specifically anchor tag links right now) */
/* .link-button {
  color: white;
  background-color: darkgreen;
  border-radius: 2px;
  padding: 15px 30px;
  text-align: center;
  width: 80px;
  margin-bottom: 15px;
  text-decoration: none;
} */

/* .link {
  text-decoration: none;
  color: black;
} */

/* ALL BUTTONS OR BUTTON-LIKE LINKS */
.btn-signup {
  color:  gray;
  background: black;
  /* background: #d18c1e; */
  padding: 10px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
}

.button-edit {
  background-color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
  max-width: 200px;
}

.button-edit:hover {
  background-color: rgba(104, 58, 58, 0.454);
}

.button-add-band {
  background-color: white;
  padding: 15px;
  margin: auto;
  border-radius: 5%;
  text-decoration: none;
  max-width: 150px;
}

.button-add-band:hover {
  background-color: rgba(104, 58, 58, 0.454);
}

.button-delete {
  background-color: rgba(29, 13, 13, 0.794);
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
}

.button-delete:hover {
  background-color: rgb(163, 120, 12);
}

/* BUTTON CONTAINERS */
.button-container {
  display: flex;
  justify-content: space-between;  
}

.button-container .button {
  margin: 0 40px 0 0;
}

/* USERS/SHOW page */
.user-profile {
  background-color:black;
  color: aliceblue;
  padding: 15px;
  border-radius: 2%;
  line-height: 200%;
}

/* POSTERS/INDEX page */
.poster-cards-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 0;
}

.posters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 5px;
  margin-bottom: 5px;
  width: 175px;
  min-width: 150px;
  height: 275px;
  font-weight: bold;
  /* color: #3d3636; */
  color: #8E5133;
  text-align: center;
  transition: all 0.25s ease;
}

.poster-card {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
  align-items: baseline;
  width: 30%;
  min-width: 125px;
  background: rgba(255, 255, 255, .7);
  border-radius: 5%;
  padding: 5px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.poster-card img {
  height: 280px;
  width: 180px;
  border-radius: 5%;
  background: black;
}

.poster-card .cancel {
  align-self: flex-end;
  text-decoration: none;
  font-size: 1.0rem;
}

/* POSTER SHOW PAGE */
.poster img {
  height: 390px;
  width: 280px;
  border-radius: 1%;
  background: black;
}

/* .poster-card:hover {
  background: rgba(119, 91, 91, 0.7);
} */

/* FORM INPUT PAGES */
.form-input {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-input input {
  width: 70%;
  padding: 10px;
  border: none;
  border-bottom: 1px dashed brown;
  font-size: 1.0rem;
}

.form-input label {
  width: 200px;
}

/* .see-collection {
  background-color: #8E5133;
} */

/* ----- other responsive layout forked example from codepen/girliemac -------- */
* {
  box-sizing: border-box;
}
body {
  margin: 1em;
  font: 1.2em/1.3em 'Montserrat', sans-serif;
}
h1 {
  font-weight: strong;
  text-align: right;
}
p {
  margin: 0 0 1em 0;
}

#main {
 margin: 0;
 padding: 0;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: column;
 flex-flow: row;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {
 margin: 4px;
 padding: 1em;
}

#main > article {
 /* background: #996; */
 -webkit-flex: 4 1 0;
         flex: 4 1 0;
 -webkit-order: 2;
         order: 2;
}

#main > nav,
#main > aside {
 /* background: #663; */
 -webkit-flex: 1 6 0;
         flex: 1 6 0;
}
#main > nav {
 -webkit-order: 1;
         order: 1;
}

#main > aside {
 -webkit-order: 3;
         order: 3;
}

header, footer {
 display: block;
 /* min-height: 80px; */
}

footer {
font: .8em/.9em 'Montserrat', sans-serif;
color: chocolate;
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;

}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-flow: column;
}

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;

 }
}
