/* -- GLOBAL STYLE --- */
.page-home {
  /* background-color: aquamarine; */
  background-image: url("/images/bkrnd-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

.page-other {
  background-image: url("/images/bkrnd-other-v3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px; */
  font-family: 'Montserrat', sans-serif;
  /* height: 80%;
  width: 80%;
  border: 5px solid black; */
}

a {
  color: #1f654e;
}

.header {
  display: flex;
  flex-direction: column
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  padding: 20px 20px 5px 20px;
}

aside {
  align-items: center;
  /* background-color: rgba(142, 81, 51, .2); */
}


/* --- USERS/INDEX page style  */
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-bubbles-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 0;
}

.user-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 5px;
  margin-bottom: 20px;
  width: 175px;
  min-width: 150px;
  height: 225px;
  font-weight: bold;
  /* color: #3d3636; */
  color: #8E5133;
  text-align: center;
  transition: all 0.25s ease;
}

.user-bubble img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: black;
}

.flex-end {
  justify-content: flex-end;
}

/* Links / Buttons (specifically anchor tag links right now) */
/* .link-button {
  color: white;
  background-color: darkgreen;
  border-radius: 2px;
  padding: 15px 30px;
  text-align: center;
  width: 80px;
  margin-bottom: 15px;
  text-decoration: none;
} */

/* .link {
  text-decoration: none;
  color: black;
} */

/* ALL BUTTONS OR BUTTON-LIKE LINKS */
.btn-signup {
  color:  gray;
  background: black;
  /* background: #d18c1e; */
  padding: 10px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
}

.button-edit {
  background-color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
}

.button-edit:hover {
  background-color: rgba(104, 58, 58, 0.454);
}

.button-delete {
  background-color: rgba(29, 13, 13, 0.794);
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  text-decoration: none;
}

.button-delete:hover {
  background-color: rgb(163, 120, 12);
}

/* BUTTON CONTAINERS */
.button-container {
  display: flex;
  justify-content: space-between;  
}

.button-container .button {
  margin: 0 40px 0 0;
}

/* USERS/SHOW page */
.user-profile {
  background-color: bisque;
}

/* ----- other responsive layout forked example from codepen/girliemac -------- */
* {
  box-sizing: border-box;
}
body {
  margin: 1em;
  font: 1.2em/1.3em 'Montserrat', sans-serif;
}
h1 {
  font-weight: normal;
  text-align: right;
}
p {
  margin: 0 0 1em 0;
}

#main {
 margin: 0;
 padding: 0;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: row;
 flex-flow: row;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {
 margin: 4px;
 padding: 1em;
}

#main > article {
 /* background: #996; */
 -webkit-flex: 4 1 0;
         flex: 4 1 0;
 -webkit-order: 2;
         order: 2;
}

#main > nav,
#main > aside {
 /* background: #663; */
 -webkit-flex: 1 6 0;
         flex: 1 6 0;
}
#main > nav {
 -webkit-order: 1;
         order: 1;
}

#main > aside {
 -webkit-order: 3;
         order: 3;
}

header, footer {
 display: block;
 min-height: 80px;
}

footer {
font: .8em/.9em 'Montserrat', sans-serif;
color: chocolate
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-flow: column;
}

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;

 }
}
